# Requirements for TopStepX Live Data Bridge
websockets>=10.0,<11.0  # For WebSocket server functionality

# The tsxapipy dependencies are assumed to be installed with the tsxapi4py-main package
# You can install them using the requirements.txt in the tsxapi4py-main directory
